.gradle
.cargo
.android
.java
.local
Android
AndroidStudioProjects
Desktop
Documents
Downloads
Music
Pictures
Postman
Public
Sync
Templates
Videos
fvm
go
node_modules
snap
.cache
.config/Android Open Source Project
.config/FortiClient
.config/GitHub Desktop
.config/Google/AndroidStudio2025.1.1
.dart-cli-completion
.dart-tool
.dartServer
.config/Thunar
.config/autostart
.config/btop
.config/dconf
.config/enchant
.config/evolution
.config/flutter
.config/gh
.config/ghostty
.config/google-chrome
.config/gtk-3.0
.config/ibus
.config/lazygit
.config/neofetch
.config/pulse
.bash_history
.bash_logout
.bashrc
/.config/ags
/.config/btop-backup-back-up_0818_2113
/.config/cava
/.config/fastfetch
/.icons
/.npm
/.pub-cache
/.rustup
/.themes
/.var
/.zen
/.tarball-installations
.python_history
.rediscli_history
.shell.pre-oh-my-zsh
.ssh/authorized_keys
.sudo_as_admin_successful
.profile
/.pki
/.fonts
.config/Kvantum
.config/qalculate
.config/qt5ct
.config/qt6ct
.config/swappy
.config/swaylock
.config/swaync
.config/systemd/user/default.target.wants
.config/tiling-assistant
.config/tmux/plugins
.config/tmux.bkb
.config/touchegg
.config/wallust
.config/wlogout
.config/xfce4/xfconf/xfce-perchannel-xml
.config/yarn/global
.config/.gsd-keyboard.settings-ported
.config/GNOME-xdg-terminals.list
.config/QtProject.conf
.config/gnome-initial-setup-done
.config/mimeapps.list
.config/pavucontrol.ini
.config/ubuntu-xdg-terminals.list
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.flutter-devtools
.fvm_flutter/bin/src
.gnupg
.nvm
.oh-my-zsh
.tmux/plugins/tpm
.yarn/bin
.emulator_console_auth_token
.fehbg
.flutter
.gitconfig
.gtkrc-2.0
.lesshst
.wget-hsts
.yarnrc
.z
.zcompdump
.zcompdump-eduardo-piccoli-5.9
.zcompdump-eduardo-piccoli-5.9.zwc
.zsh_history
